# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\testing_2021\lab_9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
